<form method="post" action="/goals/<%= @goal.id%>">
<input type="hidden" id="hidden" name="_method" value="patch">
    <fieldset>
        <legend><h3>Edit Goal:</h3></legend>
        <br>
        <li><label>Title:</label><input id="title" type="string" name="title" value="<%=@goal.title%>"></li>
        <br>
        <li><label>Tasks:</label><br>
            <br><li><label>1:</label><input id="task_1" type="string" name="task_1" value="<%=@goal.tasks.task_1%>"></li>
            <br><li><label>2:</label><input id="task_2" type="string" name="task_2" value="<%=@goal.tasks.task_2%>"></li>
            <br><li><label>3:</label><input id="task_3" type="string" name="task_3" value="<%=@goal.tasks.task_3%>"></li>
            <br><li><label>4:</label><input id="task_4" type="string" name="task_4" value="<%=@goal.tasks.task_4%>"></li>
            <br><li><label>5:</label><input id="task_5" type="string" name="task_5" value="<%=@goal.tasks.task_5%>"></li>
            <br><li><label>6:</label><input id="task_6" type="string" name="task_6" value="<%=@goal.tasks.task_6%>"></li>
            <br><li><label>7:</label><input id="task_7" type="string" name="task_7" value="<%=@goal.tasks.task_7%>"></li>
        <br>
        <li><label>Notes:</label><input id="notes" type="text" name="notes" value="<%=@goal.notes%>"></li>
        <br>
        <li><input type="submit" value="OK"></li>
        <br>
    </fieldset>
</form>					
					
					
					
					
