<form action="/goals/<%=@goal.id%>">
<div style="font-size:20px"><%= @goal.title %></div>
<br>
<p style="font-size:15px">Tasks:</p>
    <% @goal.tasks.each do |task| %>
        <%if task.task != "" %>
            <li><input type="checkbox" name="<%=task.id%>" id="<%=task.id%>" value="<%= task.id%>" <%='checked' if task.status == 1%>> <%= task.task %></li><br>
        <% end %>   
    <% end %>	
<p style="font-size:15px">Notes:</p>
<p><%= @goal.notes %></p>
<br>
<input type="submit" value="               Update Tasks                ">
</form>
<br>
<div style="width:200px;">
    <div style="float: left; width: 100px"> 
		<form action="/goals/<%= @goal.id%>/edit">
		<input type="submit" value="         Edit          ">
        </form>	
    </div>
    <div style="float: right; width: 100px"> 
        <form method="post" action="/goals/<%=@goal.id%>">							
			<input type="hidden" id="hidden" name="_method" value="delete">						
			<input type="submit" value="        Delete        ">						
		</form>		
    </div>
</div>
<br><br>
<div><form action="/goals"><input type="submit" value="                   All Goals                    "></form></div>
