<h3> <%= @goal.title %></h3>							
<br>

<% @goal.tasks.each do |task| %>
    <li><p><%= task.task %></p></li>
<% end %>	
	
<br>							
<p><%= @goal.notes %></p>						
							
<form method="post" action="/goals/<%=@goal.id%>">							
	<input type="hidden" id="hidden" name="_method" value="delete">						
	<input type="submit" value="Delete">						
</form>							
							
<a href="/goals/<%=@goal.id%>/edit"><button> Edit </button></a>							
<a href="/goals"><button> View All </button></a>							
							
							
							
							
							
							
