<div style="font-size:20px"><%= @goal.title %></div>
<br>
<p style="font-size:15px">Tasks:</p>
    <% @goal.tasks.each do |task| %>
        <form method="post" action="/tasks/<%= task.id%>">
            <input type="hidden" id="hidden" name="_method" value="patch">
                <li><input type="checkbox" name="status" id="<%=task.id%>" value="<%= !task.status %>" <%='checked' if task.status%> onChange="this.form.submit()" > <%= task.task %></li><br>
        </form>
    <% end %>
    <p><a href="/tasks/new">+ Add a New Task</a></p>	
<p style="font-size:15px">Notes:</p>
<p><%= @goal.notes %></p>
<br>

<br>
<div style="width:200px;">
    <div style="float: left; width: 100px"> 
		<form action="/goals/<%= @goal.id%>/edit">
		<input type="submit" value="         Edit          ">
        </form>	
    </div>
    <div style="float: right; width: 100px"> 
        <form method="post" action="/goals/<%=@goal.id%>">							
			<input type="hidden" id="hidden" name="_method" value="delete">						
			<input type="submit" value="        Delete        ">						
		</form>		
    </div>
</div>
<br><br>
	<form action="/goals">
	<input type="submit" value="                    All Goals                   ">
    </form>	
<br><br>

